// шрифты
$raleway-font: 'Raleway', sans-serif;
$roboto-font: 'Roboto', sans-serif;
// color
$accent-color:#bc1d4a;
$accent-color-hover:#c42d5b;
$gray-color: #424047;
$gray-color-hover: #4d4a51;
$white-color:#ffffff;